h1 Listing books

table
  thead
    tr
      th
      th
      th

  tbody
    - @books.each do |book|
      tr
        td = link_to 'Show', book
        td = link_to 'Edit', edit_book_path(book)
        td = link_to 'Destroy', book, data: {:confirm => 'Are you sure?'}, :method => :delete

br

<%= link_to 'New Book', new_book_path %>

<h2>Books</h2>

<% @books.each do |book| %>
  <ul>
    <li>
      <%= book.title %>
      <%= "(#{number_to_currency book.price})" %>
        <%= button_to 'Add to cart', shopping_cart.order_items_path(book_id: book) %>
    </li>
  </ul>
<% end %>
